@model List<CapaEntidad.entComprobante>

@{
    ViewData["Title"] = "Listado de Comprobantes";
}

<h2>Listado de Comprobantes</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Método de Pago</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.NombreCliente @c.ApellidoCliente</td>
                <td>@c.MetodoPago</td>
                <td>@c.Monto.ToString("C")</td>
                <td>@c.FechaEmision.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
